body {
  font-family: Arial, sans-serif;  
}

header {
  background-color: #f8f9fa;
  padding: 10px 0;
}

nav .navbar-brand {
  font-weight: bold;
  color: #333;
}

h1, h2, h3 {
  color: #333;
}

/* Introducción */
#introduccion {
  text-align: center;
  padding: 50px 0;
  background-color: #f1f1f1;
  border-radius: 8px;
}

#introduccion h1 {
  font-size: 36px;
  font-weight: bold;
}

#introduccion p {
  font-size: 18px;
}

/* Misión y Visión */
#acerca {
  padding: 50px 0;
}

#acerca .row {
  text-align: justify;
}

#acerca h3 {
  color: #007bff;
}

#acerca p {
  font-size: 16px;
}

/* Productos */
#productos {
  padding: 50px 0;
  background-color: #fafafa;
}

#productos .card {
  margin-bottom: 20px;
}

#productos .card-title {
  font-size: 18px;
  font-weight: bold;
}

#productos .card-text {
  font-size: 14px;
}

#productos .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

#contacto {
  text-align: center;
  padding: 50px 0;
  background-color: #f1f1f1;
  border-radius: 8px;

}

#contacto h2 {
  font-size: 36px;
  font-weight: bold;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}